body {
    margin: 0;
    background: #ffe94a;
}

.hide {
    display: none;
}

.trail {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
}

.hand {
    height: 10vh;
    display: flex;
}

.card {
    height: 10vh;
    width: 20vw;
    border-right: 1px solid #00000047;
    border-bottom: 1px solid #00000047;
    box-sizing: border-box;
    font-size: 4vh;
    box-shadow: 1px 1px 1px 0 #0000006e;
    color: white;
    text-shadow: #0000005c 1px 1px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.sign {
    background: #7ed8f8;
}
.card.number {
    background: #ec593b;
}
.card.used {
    opacity: 0.2;
}

.select {
    font-size: 0;
    height: 10vh;
    width: 20vw;
    background: #ffffff54;
}
.select.selected {
    background: #ffffffba;
}
